# Python virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# PyCharm
.idea/

# Operating system files
.DS_Store
Thumbs.db
.~lock.*

# Environment variables
.env

# Generated models
models/*.pkl
models/*.joblib

# Generated results
results/*.png
results/*.jpg
results/*.csv
results/**/*.png
results/**/*.jpg
results/**/*.csv

# Local plotting/cache files
.matplotlib-cache/

# Raw and processed datasets
data/raw/*
data/interim/*
data/processed/*

# Preserve empty folders
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep

# Logs
*.log
